<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<p>
    <button class="btn btn-primary" (click)="onLoadServers()">Load Servers</button>
</p>
<p>
    <button class="btn btn-primary" (click)="onLoadServer(1)">Load Server 1</button>
</p>

<button class="btn btn-primary" (click)="onLogin()">Login</button>
<button class="btn btn-primary" (click)="onLogout()">Logout</button>

<p>
    <input #userid type="text" placeholder="Please enter a user id">
    <input #username type="text" placeholder="Please enter a name"> 
</p>
<p>
    <button class="btn btn-primary" (click)="onLoadUser(userid, username)">Load User</button>
</p>
<p>
    <button class="btn btn-primary" (click)="onGetServer()">Get Server</button>
</p>
